<%- include('includes/head.ejs') %>
    <script src="js/main.js"></script>
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <div class="container mt-4">
        <div class="alert alert-info">Current shopping cart bill: <span id="sum">0</span></div>
        <main>
            <% if (hasProducts) { %>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <% for (const product of prods) { %>
                        <div class="col">
                            <div class="card h-100">
                                <img src="/assets/book.jpg" class="card-img-top" alt="A Book" style="width: 100px; height: 100px; object-fit: cover; margin: 0 auto;">
                                <div class="card-body">
                                    <h5 class="card-title"><%= product.title %></h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Price: $<%= product.price %></h6>
                                    <p class="card-text">A very interesting book about so many even more interesting things!</p>
                                </div>
                                <div class="card-footer text-end">
                                    <button class="btn btn-success" data-id="<%= product.id %>">Add to Cart</button>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            <% } else { %>
                <div class="alert alert-warning mt-4" role="alert">
                    No Products Found!
                </div>
            <% } %>
        </main>
    </div>
<%- include('includes/end.ejs') %>